version: 2.1
orbs:
  node: circleci/node@4.6.0

jobs:
  lint:
    executor:
      name: node/default
      tag: 'current'
    steps:
      - checkout
      - node/install-packages:
          cache-path: ~/project/node_modules
          override-ci-command: npx -p npm@6 npm ci
      - run:
          command: |
            npm run build
            npm run lint
  test:
    executor:
      name: node/default
      tag: 'current'
    steps:
      - checkout
      - node/install-packages:
          cache-path: ~/project/node_modules
          override-ci-command: npx -p npm@6 npm ci
      - run:
          command: npm run test:circleci

workflows:
  lint-and-test:
    jobs:
      # Linting is disabled until old devtools code is removed
      #- lint
      - test
