version: 2.1

jobs:
  lint:
    docker:
      - image: cimg/node:20.5.1
    steps:
      - checkout
      - run: npm ci
      - run: npm run build
      - run: npm run type-check
      - run: npm run lint

  formatting:
    docker:
      - image: cimg/node:20.5.1
    steps:
      - checkout
      - run: npm ci
      - run: npm run check:format

  test:
    docker:
      - image: cimg/node:20.5.1
    steps:
      - checkout
      - run: npm ci
      - run: npm run test:circleci

workflows:
  lint-and-test:
    jobs:
      - lint
      - test
      - formatting
