version: 2.1

orbs:
  secops: apollo/circleci-secops-orb@2.0.6

jobs:
  lint:
    docker:
      - image: cimg/node:21.5.0
    steps:
      - checkout
      - run: npm ci
      - run: npm run build
      - run: npm run type-check
      - run: npm run lint

  formatting:
    docker:
      - image: cimg/node:21.5.0
    steps:
      - checkout
      - run: npm ci
      - run: npm run check:format

  test:
    docker:
      - image: cimg/node:21.5.0
    steps:
      - checkout
      - run: npm ci
      - run: npm run test:circleci

workflows:
  lint-and-test:
    jobs:
      - lint
      - test
      - formatting
  security-scans:
    jobs:
      - secops/gitleaks:
          context:
            - platform-docker-ro
            - github-orb
            - secops-oidc
          git-base-revision: <<#pipeline.git.base_revision>><<pipeline.git.base_revision>><</pipeline.git.base_revision >>
          git-revision: << pipeline.git.revision >>
      - secops/semgrep:
          context:
            - secops-oidc
            - github-orb
          git-base-revision: <<#pipeline.git.base_revision>><<pipeline.git.base_revision>><</pipeline.git.base_revision >>
