* {
  box-sizing: border-box;
}

html, body, #devtools, .ac-graphiql {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 12;
  color: #333333;
}

.apollo-client-panel.in-window {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 90%;
  width: 90%;
  border: 1px solid pink;
  z-index: 100;
  background-color: white;
}

.apollo-client-panel .tabs {
  background-color: #f3f3f3;
  border-bottom: 1px solid #ccc;
}

.apollo-client-panel .tabs .tab {
  display: inline-block;
  padding: 3px 6px;
  cursor: pointer;
  margin-top: 3px;
}

.apollo-client-panel .tabs .tab:first-of-type {
  margin-left: 5px;
}

.apollo-client-panel .tabs .tab:hover {
  box-shadow: inset 0 0 25px #ddd;
}

.apollo-client-panel .tabs .tab.active {
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 3px 5px;
}

.apollo-client-panel .CodeMirror pre {
  font-family: monospace !important;
}

.apollo-client-panel .CodeMirror-linenumber.CodeMirror-gutter-elt {
  font-family: monospace;
}

.apollo-client-panel .CodeMirror-foldgutter {
  width: 0;
}

.apollo-client-panel .graphiql-container .result-window .CodeMirror-gutters {
  cursor: ew-resize;
}
