name: Pull Request Prerelease

on:
  pull_request:
  push:
    branches:
      - "**"
    tags:
      - "!**"

jobs:
  vscode-package:
    name: "@apollo/client-devtools-vscode"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - run: npm ci

      - name: Publish to pkg.pr.new
        run: npx pkg-pr-new publish  --no-template ./packages/apollo-client-devtools ./packages/client-devtools-vscode
